
@media (max-width: 830px) {

    body {
        background: url(assets/tablet-bg.png) #222222;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        overflow: hidden;
    }

    nav .hamb {
        display: initial;
    }

    header {
        width: 95%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 999;
    }

    nav .nav-list {
        position: fixed;
        margin: auto;
        margin-top: 95px;
        left: 0;
        display: none;
        text-align: center;
        background: #1a1a1a;
        z-index: 1000;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        height: 84vh;
    }

    .nav-list.active {
        top: 0;
        display: block;
        right: 0;
        opacity: 1;
    }

    nav .nav-list li {
        display: block;
    }
    
    nav .nav-list li a {
        display: block;
        margin-left: 0;
        padding: 30px;
        z-index: 999;
        width: 100%;
    }

    .hero {
        position: static;
    }

    .bottom {
        padding: 20px;
    }
}

@media (max-width:450px) {

    body {
        background: url(assets/mobile-bg.png) #222222;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        overflow: hidden;
    }

    .container .hero-text h1 {
        color: #2ecc71;
    }

    span {
        color: #fff;
    }

    header {
        padding: 10px;
    }

    .logo i {
        width: 40px;
        height: 40px;
    }

    .main-width {
        padding: 10px;
        max-width: 100%;
    }

    nav .nav-list {
        margin-top: 70px;
    }

    nav .nav-list.active {
        background: rgba(24, 24, 24, 0.85);
        border-radius: 10px;
        backdrop-filter: blur(5.6px);
        -webkit-backdrop-filter: blur(5.6px);
        border: 1px solid rgb(77, 77, 77);
    }

    nav .nav-list li.btn a:hover {
        background: none;
        color: #2ecc71;
        border: 2px solid #2ecc71;
    }

    .container {
        padding-top: 180px;
    }

    .container.blur {
        filter: blur(2px);
    }

    .container .hero-text h1 {
        font-size: 27px;
    }

    .social a {
        border: 1px solid rgba(255, 255, 255, .4);
    }

    .bottom {
        margin: auto;
    }

    .bottom p {
        text-align: center;
        font-size: 12px;
        letter-spacing: 1px;
    }
}